body {
    background-color: rgb(242, 251, 255);
    text-align: center;
    font-family: verdana;
}
.container {
    box-sizing: border-box;
    overflow: auto;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(95, 139, 159);
    border: 4px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;   
}

#instructions {
    display: block;
    position: absolute;
    background-color: rgb(238, 220, 255);
}

#loading {
    display: none;
    position: absolute;
    background-color: rgba(105, 105, 105, 0.303);
    height: 50vh;
    width: 82%;
    font-size: 16pt;
}
#loading p {
    margin-top: 25vh;
}

#slideShow-container {
    width: 99%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;  
    border: 1px solid rgb(0, 0, 0);
}

#slideDisplay {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;   
    height: 50vh;
    width: 99%;
    padding: 2% 0 2% 0;
}

.slideShowArrows {
    display: inline-flexbox;
    flex-direction: row;
    justify-content: space-between;
}

.slide {
    display: block;
    margin: 0 auto;
    /* height: 300px; */
    height: 96%;
    border: 6px solid rgb(255, 255, 255);
    
}

.active {
    display: block;
}

.hidden {
    display: none;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;
    height: 10vh;
    background-color: rgba(35, 92, 142, 0.303);
}

#playbutton, #pausebutton {
    width: 10%;
}
.slideShowArrows {
    color: whitesmoke;
    background-color: transparent;
    border: transparent;
    font-size: 30pt;
    text-shadow: 2pt 2pt rgba(0, 0, 0, 0.468);
    cursor: pointer;
}